#contato-form {
    padding: 1em;
    outline: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #3482bd;
    color: white;  
    display: flex;
    flex-direction: column;  
}

label {
    font-size: 1.2em;
    margin-right: 1em;
}

#contato-form input {
    width: 60%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.msg {
    display: block;
    margin-bottom: .5em;
}

#mensagem {
    width: 70%;
}

.enviar {
    max-width: 70%;
    display: flex;
    align-items: center;
    gap: 1em;
    outline: 2px solid rebeccapurple;
}

.btn {
    background-color: #3482bd;
    color: white;
    width: 40%;
    padding: 0.5em;
    border: none;
}

ul {
    padding-left: 1.5rem;
    margin-left: 1.5em;
    margin-bottom: 1rem;
}

.contato-table {
    list-style: square;
    margin-bottom: 0.5rem;
}
