.index-title {
    font-size: 1.5em;
    font-weight: 700;
}

.index-sub-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.index-list {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.index-paragrafo {
    text-indent: 1em;
    margin: 1em 0;
    text-align: justify;
}
