* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Linha para dividir os temas */
.divisoria { 
    border: 2px solid #0d47a1;
    margin: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.top {
    text-align: right;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1em 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #1765a3;
    color: #00325b;
    padding: 1em;
    line-height: 1.6em;
}
 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background-color: #f6f4ed;
}

.cabecalho {
    background-color: #0d47a1;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 85%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo titulo"
        "informe informe";
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    grid-area: logo;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.titulo {
    font-size: 2.5em;
    margin: 0.7em auto;
    grid-area: titulo;
}

.informe {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    grid-area: informe;
}

.informe p {
    margin-bottom: 0.5em;
}

.solucoes {
    font-style: italic;
}

nav.menu {
    color: white;
    background-color: #1976d2;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
}

nav.menu a {
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
}

nav.menu a:hover {
    background-color: #0d47a1;
    text-decoration: underline;
    transform: scale(1.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.principal, .servicos, .sobre, .aulas, .contato {
    margin-bottom: 2em;
}

#contato {
    color: #0d47a1;
    padding: 1em;
    border-radius: 10px;
}


.botao-whats {
    display: inline-block;
    margin: 10px 0 0 30px;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}



.botao-whats:hover {
    background-color: #0f6d33;
    transform: scale(1.05);
    transition: transform 0.2s;
    
}

.email {
    color: #00325b;
}

.email a {
    color: #0d47a1;
    font-weight: bold;
}

.rodape {
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    border-radius: 0 0 10px 10px;
}

/* Mobile */

@media (max-width: 481px) {
   .cabecalho {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .logo {
        width: 30%;
    }

    .titulo {
        font-size: 1.2em;
        margin: 15px auto;
    }

    .informe p {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .servicos {
        font-size: 1em;
        margin-bottom: 2em;
    }

    ul li {
        padding: .3em;
    }
 
}

/* Extra small devices */

@media (min-width: 481px) and (max-width: 767px) {
    .cabecalho {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .logo {
        width: 40%;
    }
    
    .titulo {
        font-size: 1.5em;
        margin: 15px auto;
    }

    .informe p {
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
}
/* Small tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .cabecalho {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 85%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo titulo"
            "informe informe";  
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .logo {
        width: 100%;
        grid-area: logo;
    }

    .titulo {
        font-size: 2em;
        margin: 15px auto;
        grid-area: titulo;
    }

    .informe {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        grid-area: informe;
    }   
}

/* Large tablets/laptops */

@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* Desktop */

@media (min-width: 1200px) and (max-width: 1919px) {
    
}

/* Extra large screens */

@media (min-width: 1920px) {
    
}