* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Linha para dividir os temas */
.divisoria {
    width: 100%;
    border: 2px solid #0d47a1;
    margin: 1em 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #1765a3;
    color: #00325b;
    padding: 1em;
}

/* ! Botao Flutante do Whatsapp */

.whatsapp-float {
    position: fixed;
    right: calc((100vw - 1200px) / 2 + 20px);
    bottom: 20px;
    z-index: 999;
}

.whatsapp-float img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.whatsapp-float img:hover {
    transform: scale(1.1);
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;

}

p {
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #0d47a1;
    font-weight: bold;
}

li {
    list-style: none;
    color: #00325b;
    font-weight: 500;
}

.top {
    text-align: right;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1em 0;
    color: #093983;
    font-size: 2rem;
    font-weight: bold;
}

.contato-whatsapp {
    font-size: 1em;
    margin-top: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 3em;
}
 
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    background-color: #f6f4ed;
    border-radius: 1rem;
    position: relative;
}

.cabecalho {
    background-color: #0d47a1;
    color: white;
    padding: .8em;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "logo titulo titulo"
        "tech informe informe"
        "tech contatowp qrcode";
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    grid-area: logo;
}

.titulo {
    width: 100%;
    grid-area: titulo;
}

.titulo h1 {
    font-size: 4em;
}

.titulo h6 {
    font-size: 2em;
    margin-bottom: 1em;
}

.tech {
    width: 100%;
    line-height: 2;
    text-align: center;
    font-size: 1.2em;
    grid-area: tech;
}

.tech h2 {
    color: #f1f1f1;
}

.informe {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    grid-area: informe;
}

.informe p {
    margin-bottom: 0.5em;
    grid-area: cotatowp;
}

.solucoes {
    font-style: italic;
}

.telefoneWhatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.qrcode {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: qrcode;
}

.qrcode-img {
    width: 50%;
}

.acessoqrcode {
    font-size: 1em;
    font-weight: 500;
}

nav.menu {
    color: white;
    background-color: #1976d2;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.5em;
}

nav.menu a {
    height: 100%;
    font-family: poppins, sans-serif;
    color: white;
    padding: 1em;
    font-weight: bold;
}

nav.menu a:hover {
    background-color: #0d47a1;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    transform: scale(1.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.principal {
    margin-bottom: 2em;
}

.inserir {
    width: 100%;
    text-align: center;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.inserir-title {
    font-size: 2em;
    font-weight: bolder;
}

#servicos, #sobre, #aulas, #contato {
    padding: 0 1em;
}

#sobre {
    text-indent: 1em;
}

#aulas h3 {
    font-size: 1.2em;
    margin-bottom: .7em;
}

#aulas ul {
    margin-bottom: .7em;
}

#aulas > p:first-of-type{
    font-style: italic;
    font-weight: 500;
}

#contato {
    color: #0d47a1;
    padding: 1em;
    border-radius: 10px;
}

#aulas > .contato-whatsapp {
    justify-content: left;
}

#contato > .contato-whatsapp {
    justify-content: left;
}


.botao-whats {
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    margin-left: 1.5em;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}



.botao-whats:hover {
    background-color: #0f6d33;
    transform: scale(1.05);
    transition: transform 0.2s;
    
}

.cta-button {
    font-size: 2em;
    padding: .5em;
    margin: auto;
    color: yellow;
}

.cta-button:hover {
    background-color: #0056b3;
}

.btn_maior, .btn_maior a{
    font-size: 2.2rem;
}

.email {
    margin-top: 1.2em;
    color: #00325b;
}

.email a {
    color: #0d47a1;
    font-weight: bold;
}

.rodape {
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    border-radius: 0 0 10px 10px;
}

.redes-sociais {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.rede-social {
    color: white;
    display: flex;
    flex-direction: column;
}

.rede-social a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

#cookieBanner {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 1rem;
    display: none;
}

#cookieBanner button {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 1.2rem;
}

#cookieBanner button:hover {
    color: white;
    background-color: #a19292;
}


/*! Mobile */

@media (max-width: 530px) { /* 481*/
   .cabecalho {
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px 10px 0 0;
    }

    /* 
    background-color: #0d47a1;
    color: white;
    padding: .8em;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "logo titulo titulo"
        "tech informe informe"
        "tech contatowp qrcode";
    justify-content: center;
    align-items: center;
    
    */

    .logo {
        width: 100%;
    }

    .banner {
        width: 40%;
        margin: 0 auto;
    }

    .logo h2 {
        font-size: 1em;
        margin: 0.5em auto;
    }

    .titulo {
        margin: 0;
    }

    .titulo h1 {
        font-size: 1.8em;
        margin: 0.5em auto;
    }

    .titulo h6 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .informe p {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .servicos {
        font-size: 1em;
        margin-bottom: 2em;
    }

    .telefoneWhatsapp {
        font-size: 1.2em;
    }

    ul li {
        padding: .3em;
    }
    
    .contato-whatsapp {
        font-size: 1em;
        flex-direction: column;
        gap: 0.5em;
        font-weight: bold;
        margin: 10px auto;
    }

    .contato-whatsapp a {
        width: 100%;
        font-size: .8em;
    }

    .telefoneWhatsapp {
        flex-direction: column;
        gap: 1em;
    }

    .qrcode {
        flex-direction: column;
        padding: 0 1em;
    }

    .inserir {
        flex-direction: column;
        gap: 0;
    }

    .inserir-title {
        font-size: 1.2em;
        font-weight: 600;
    }

    .botao-whats {
        margin: 0;
    }

    .btn_maior, .btn_maior a{
    font-size: 1.5rem;
    }

    .email {
        font-size: .8em;
        font-weight: 500;
        margin: 1em auto;
    }

    .rede-sociais {
        font-size: .7em;
    }
}

/* Extra small devices */

@media (min-width: 530px) and (max-width: 767px) {
    .top {
        margin: 1em;
    }
    .cabecalho {
        text-align: center;
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .logo {
        width: 100%;
        margin: 0 auto;
    }

    .banner {
        width: 40%;
        margin: 0 auto;
    }
    
    .titulo {
        margin: 15px auto;
    }

    .titulo h1 {
        font-size: 2.5em;
        margin: 0.5em auto;
    }

    .titulo h6 {
        font-size: 1.3em;
        margin-bottom: 1em;
    }
    .informe {
        padding: 0;
    }

    .informe p {
        font-size: .6em;
        margin-bottom: 0.5em;
    }

    .contato-whatsapp {
        font-size: 1em;
        flex-direction: column;
        gap: 0.5em;
        font-weight: bold;
        margin: 10px auto;
    }

    .telefoneWhatsapp {
        flex-direction: column;
        gap: 1em;
    }

    .qrcode {
        flex-direction: column;
        padding: 0 1em;
    }

    .inserir-title {
        font-size: 1.2em;
        font-weight: 600;
    }

    .inserir {
        flex-direction: column;
        gap: 0;
    }

    .inserir-title {
        font-size: 1.5em;
        font-weight: 600;
    }

    .contato-whatsapp a {
        font-size: 1.5em;
    }

    .botao-whats {
        margin: 0;
    }

    .btn_maior, .btn_maior a{
    font-size: 1.5rem;
}

}
/* Small tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .cabecalho {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "logo titulo titulo"
            "tech informe informe"
            "tech contatowp qrcode";  
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .logo {
        width: 100%;
        height: 100%;
        grid-area: logo;
    }

    .logo h2 {
        font-size: 1.2em;
    }

    .titulo {
        margin: 15px auto;
        grid-area: titulo;
    }

    .titulo h1 {
        font-size: 2.5em;
        margin: 0.5em auto;
    }

    .titulo h6 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .informe {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        grid-area: informe;
    }
    
    .btn_maior, .btn_maior a{
    font-size: 1.7rem;
    }

    .telefoneWhatsapp {
        flex-direction: column;
        gap: 1em;
    }

    .qrcode {
        flex-direction: column;
        padding: 0 1em;
    }

    .acessoqrcode {
        font-size: .8em;
    }

    .inserir-title {
        font-size: 1.5em;
        font-weight: 700;
    }
}

/* Large tablets/laptops */

@media (min-width: 992px) and (max-width: 1199px) {
    .titulo h1 {
        font-size: 3em;
        margin: 0.5em auto;
    }

    .titulo h6 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .telefoneWhatsapp {
        flex-direction: column;
        gap: 1em;
    }

    .inserir-title {
        font-size: 1.8em;
        font-weight: 800;
    }
}

@media (max-width: 1200px) {
    .whatsapp-float {
        right: 20px;
    }
}

/* Desktop */

@media (min-width: 1200px) and (max-width: 1919px) {
    
}

/* Extra large screens */

@media (min-width: 1920px) {
    
}