:root {
    --whatsapp-color: #25D366;
    --whatsapp-hover: #0f6d33;
    --text-wite: #f6f4ed;
    --azul-principal: #165d96;    /* Azul médio, ideal para títulos ou cabeçalho */
    --azul-hover: #1765a3;        /* Um pouquinho mais vibrante, ótimo para hover */
    --azul-claro: #3482bd;        /* Azul claro, ideal para fundos ou destaques */
    --azul-escuro: #00325b;       /* Azul profundo, ótimo para rodapés ou contrastes */
    --azul-divisoria: #0d47a1;   /* Azul para divisórias, um pouco mais escuro */
    --azul-fundo-menu: #1976d2;    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: var(--azul-claro);
    /* color: #00325b; */
    color: var(--azul-principal);
    padding: 1em;
}

h1 {
    font-family: 'montserrat', sans-serif;
}

h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
    color: #093983;
}

p {
    font-weight: 500;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #0d47a1;
    font-weight: bold;
}

li {
    list-style: none;
    color: #00325b;
    font-weight: 500;
}

.top {
    text-align: right;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1em 0;
    color: #093983;
    font-size: 2rem;
    font-weight: bold;
}

/*? Linha para dividir os temas */

.divisoria {
    width: 100%;
    border: 2px solid var(--azul-divisoria);
    margin: 1em 0;
}

.pages-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 1em;
}

.sub-title {
    font-size: 1.2em;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.visualisada a {
    background-color: var(--azul-hover);
}